@{
  Layout = "_Layout";
}

@using RecipeBox.Models;

<h1>Recipes</h1>

@if (Model.Count == 0)
{
  <p>There are no recipes at the moment.</p>
}
<ul>
  @foreach (Recipe recipe in Model)
  {
    <li>@Html.ActionLink($"{recipe.Name}", "Details", new { id = recipe.RecipeId }) | @Html.ActionLink($"{recipe.Rating}", "Details", new { id = recipe.RecipeId })</li>
  }
</ul>
<a href="/recipes/create">Add a new recipe.</a>

@using (Html.BeginForm())
{
  <p>Search Recipes</p>
  @Html.TextBox("userInput")
  <input type="submit" value="Search" class="btn btn-default" />
}

<p>@Html.ActionLink("Sort By Rating", "Index", new {userInput = "Rating"})</p>
